<div id="page-wrapper">
    <!-- Sidenav menu-->
    <sidenav-menu></sidenav-menu>
    <!-- Page Content-->
    <div class="page-content">
        <!-- Filter commands-->
        <nav id="page_commands">
            <div class="ui-g ui-fluid">
                <div class="ui-g-3 ui-md-3">
                    <div class="ui-inputgroup global-search-container">
                        <span class="ui-inputgroup-addon global-search-icon"><i class="fa fa-user"></i></span>
                        <input class="global-search-input" #gb type="text" pInputText placeholder="{{ 'HOME.SEARCH' | translate}}">
                    </div>
                </div>
                <div class="ui-g-1 ui-md-1">
                
                </div>
            </div>
        </nav>
        <!--Main Content-->
        <main id="main_content">
            <!-- Elenco Utenti -->
            <div class="table-container" id="entity_tab">
                <p-dataTable [value]="authors" [immutable]=false dataKey="id" [globalFilter]="gb" #dt [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[2,4,10]">
                    <p-header>{{'AUTHOR.AUTHOR_LIST' | translate}}<button id="add_entity_button" (click)="_dialogDisplayService.showDialog()" title="{{'AUTHOR.ADD_AUTHOR' | translate}}" pButton icon="fa-plus"></button></p-header>
                    <p-column field="firstName" header="{{'AUTHOR.FIRSTNAME' | translate}}"></p-column>
                    <p-column field="lastName" header="{{'AUTHOR.LASTNAME' | translate}}"></p-column>                  
                    <p-column field="nationality" header="{{'AUTHOR.NATIONALITY' | translate}}"></p-column>
                    <p-column field="gendre" header="{{'AUTHOR.GENDRE' | translate}}"></p-column>
                    <p-column header="{{'HOME.COMMANDS' | translate}}" [style]="{'text-align':'center'}">
                        <ng-template let-entry="rowData" pTemplate="body" >
                            <button (click)="showEditDialog(entry)" pButton title="{{'AUTHOR.EDIT_AUTHOR' | translate}}" icon="fa-edit"></button>
                            <button (click)="removeAuthor(entry)" pButton title="{{'AUTHOR.DELETE_AUTHOR' | translate}}" icon="fa-trash"></button>
                        </ng-template>
                    </p-column>
                </p-dataTable> 
            </div>
        </main>
    </div>
</div>
<!-- Add Author Dialog  -->
<p-dialog header="{{'AUTHOR.ADD_AUTHOR' | translate}}" [(visible)]="_dialogDisplayService.displayDialog" modal="modal" width="600" [responsive]="true">
    <add-author-form></add-author-form>
 </p-dialog>
<!-- EDIT Dialog -->
<p-dialog header="{{'AUTHOR.EDIT_AUTHOR' | translate}}" [(visible)]="displayEdit" modal="modal" width="600" [responsive]="true">
    <div class="entity-form">
        <form id="edit_id_form" (ngSubmit)="saveAuthor(f)" #f="ngForm">
            <div class="ui-g ui-fluid input-form-container">
                <div class="ui-inputgroup ui-g-12 ui-md-12">
                    <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                    <input type="text" pInputText placeholder="Firstname" name="firstName" [(ngModel)]="authorEditRequest.firstName" #firstName="ngModel" required>
                </div>
                <div class="ui-inputgroup ui-g-12 ui-md-12">
                    <small *ngIf="firstName.invalid && firstName.touched" class="text-danger">
                      <b>Nationality is mandatory!</b>
                    </small>
                </div>
                <div class="ui-inputgroup ui-g-12 ui-md-12">
                    <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                    <input type="text" pInputText placeholder="Lastname" name="lastName" [(ngModel)]="authorEditRequest.lastName" #lastName="ngModel" required>
                </div>
                <div class="ui-inputgroup ui-g-12 ui-md-12">
                    <small *ngIf="lastName.invalid && lastName.touched" class="text-danger">
                      <b>Lastname is mandatory!</b>
                    </small>
                </div>
                <div class="ui-inputgroup ui-g-12 ui-md-12">
                    <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                    <input type="text" pInputText placeholder="Nationality" name="nationality" [(ngModel)]="authorEditRequest.nationality" #nationality="ngModel" required>
                </div>
                <div class="ui-inputgroup ui-g-12 ui-md-12">
                    <small *ngIf="nationality.invalid && nationality.touched" class="text-danger">
                      <b>Nationality is mandatory!</b>
                    </small>
                </div>
                <div class="ui-inputgroup ui-g-12 ui-md-12">
                    <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                    <input type="text" pInputText placeholder="Gendre" name="gendre" [(ngModel)]="authorEditRequest.gendre" #gendre="ngModel" required>
                </div>
                <div class="ui-inputgroup ui-g-12 ui-md-12">
                    <small *ngIf="gendre.invalid && gendre.touched" class="text-danger">
                      <b>Gendre is mandatory!</b>
                    </small>
                </div>
            </div>
            <p-footer>
                <button type="submit" [disabled]="f.invalid" pButton icon="fa-check" label="Salva"></button>
                <button type="button" pButton icon="fa-close" (click)="hideEditDialog()" label="Cancella"></button>
            </p-footer>
        </form>
    </div>
</p-dialog>
<!--Dialog Confirm-->
<p-confirmDialog header="{{'HOME.CONFIRM' | translate}}" icon="fa fa-question-circle" width="425"></p-confirmDialog>


