<div id="page-wrapper">
    <!-- Sidenav menu-->
    <sidenav-menu></sidenav-menu>
    <!-- Page Content-->
    <div class="page-content">
        <!-- Filter commands-->
        <nav id="page_commands">
            <div class="ui-g ui-fluid">
                <div class="ui-g-3 ui-md-3">
                    <div class="ui-inputgroup global-search-container">
                        <button id="add_entity_button" [routerLink]="['/books']" title="Books List" pButton icon=" fa-arrow-left" style="margin: 0px 8px;"></button>
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <strong>{{'BOOK.DETAIL_BOOK' | translate}}</strong>
                </div>
            </div>
        </nav>
        <!--Main Content-->
        <main id="main_content">
            <div class="table-container" id="entity_tab">
                <div class="ui-g ui-fluid" *ngIf="book">
                    <div class="ui-g-3 ui-md-3" style="text-align:center">
                        <img class=img-circle [src]="bookImg">
                    </div>
                    <div class="ui-g-9 ui-md-9">
                        <div class="ui-g">
                            <div class="ui-g-2 ui-sm-6"><strong>{{'BOOK.TITLE' | translate}}:</strong></div>
                            <div class="ui-g-10 ui-sm-6">{{book.title}}</div>
                            
                            <div class="ui-g-2 ui-sm-6"><strong>{{'AUTHOR.FULLNAME' | translate}}:</strong></div>
                            <div class="ui-g-10 ui-sm-6">{{book.author.fullName}}</div>
                            
                            <div class="ui-g-2 ui-sm-6"><strong>{{'BOOK.GENDRE' | translate}}:</strong></div>
                            <div class="ui-g-10 ui-sm-6">{{book.gendre}}</div>

                            <div class="ui-g-2 ui-sm-6"><strong>{{'AUTHOR.FULLNAME' | translate}}:</strong></div>
                            <div class="ui-g-10 ui-sm-6">{{book.lit}}</div>

                            <div class="ui-g-2 ui-sm-6"><strong>{{'BOOK.LANGUAGE' | translate}}:</strong></div>
                            <div class="ui-g-10 ui-sm-6">{{book.lang}}</div>

                            <div class="ui-g-2 ui-sm-6"><strong>{{'BOOK.PAGE_NO' | translate}}:</strong></div>
                            <div class="ui-g-10 ui-sm-6">{{book.page_no}}</div>

                            <div class="ui-g-2 ui-sm-6"><strong>{{'BOOK.COPIES_NO' | translate}}:</strong></div>
                            <div class="ui-g-10 ui-sm-6">{{book.copies_no}}</div> 
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>



