<div id="page-wrapper">
    <!-- Sidenav menu-->
    <sidenav-menu></sidenav-menu>
    <!-- Page Content-->
    <div class="page-content" style="overflow-y:scroll;overflow-x:hidden;">
        <!-- Filter commands-->
        <nav id="page_commands">
            <div class="ui-g ui-fluid">
                <div class="ui-g-3 ui-md-3">
                </div>
                <div class="ui-g-3 ui-md-3">
                </div>
            </div>
        </nav>
        <!--Main Content-->
        <main id="main_content">
            <div class="ui-g ui-fluid" style="padding-right:250px;">
                <div class="ui-g-6 ui-md-6" style="padding: 0 30px;">
                    <h3 class="drive-header">C:/</h3>
                    <p-tree [value]="filesTreeC" selectionMode="single" [(selection)]="selectedFilesC" (onNodeSelect)="nodeSelect($event, 'driveC')" (onNodeUnselect)="nodeUnSelect($event, 'driveC')"></p-tree>
                    <div class="driver-commands" *ngIf="selectedFilesC && tempC">
                        <div><button (click)="copyItem(selectedFilesC, tempC, 'driveC');">Copy <strong>{{tempC.label}}</strong> from D to <strong>{{tempD.label}}</strong></button></div>  
                        <div><button (click)="moveItem(selectedFilesC, tempC, 'driveC');">Move <strong>{{tempC.label}}</strong> from D to <strong>{{tempD.label}}</strong></button></div>                         
                    </div>
                    <div class="driver-commands" *ngIf="tempC">
                        <div><button (click)="moveItemFirstLevel(selectedFilesC, tempC, 'driveC');">Move <strong>{{tempC.label}}</strong> to C</button></div>
                        <div><button (click)="copyItemFirstLevel(selectedFilesC, tempC, 'driveC');">Copy <strong>{{tempC.label}}</strong> to C</button></div>
                    </div>
                    <div class="driver-commands" *ngIf="tempD">
                        <div><button (click)="copyItemWithin(selectedFilesC, tempD, 'driveC');">Copy <strong>{{tempD.label}}</strong> to this drive</button></div> 
                    </div>
                    <div class="driver-commands" *ngIf="selectedFilesC">
                        <div><button (click)="deleteItem(selectedFilesC, 'driveC');">Delete <strong>{{tempD.label}}</strong> from this drive</button></div> 
                    </div>
                </div>
                <div class="ui-g-6 ui-md-6" style="padding: 0 30px;">    
                    <h3 class="drive-header">D:/</h3>
                    <p-tree [value]="filesTreeD" selectionMode="single" [(selection)]="selectedFilesD" (onNodeSelect)="nodeSelect($event, 'driveD')" (onNodeUnselect)="nodeUnSelect($event, 'driveD')"></p-tree>
                    <div class="driver-commands" *ngIf="selectedFilesD && tempD">
                        <div><button (click)="copyItem(selectedFilesD, tempD, 'driveD');">Copy <strong>{{tempD.label}}</strong> from C to <strong>{{tempC.label}}</strong></button></div>
                        <div><button (click)="moveItem(selectedFilesD, tempD, 'driveD');">Move <strong>{{tempD.label}}</strong> from C to <strong>{{tempC.label}}</strong></button></div>
                    </div>
                    <div class="driver-commands" *ngIf="tempD">
                        <div><button (click)="moveItemFirstLevel(selectedFilesD, tempD, 'driveD');">Move <strong>{{tempD.label}}</strong> to D</button></div>   
                        <div><button (click)="copyItemFirstLevel(selectedFilesD, tempD, 'driveD');">Copy <strong>{{tempD.label}}</strong> to D</button></div>
                    </div>
                    <div class="driver-commands" *ngIf="tempC">
                        <div><button (click)="copyItemWithin(selectedFilesD, tempC, 'driveD');">Copy <strong>{{tempC.label}}</strong> to this drive</button></div>                                                         
                    </div>
                    <div class="driver-commands" *ngIf="selectedFilesD">
                        <div><button (click)="deleteItem(selectedFilesD, 'driveD');">Delete <strong>{{tempC.label}}</strong> from this drive</button></div>                                     
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
