<aside class="sidenav">
    <div id="prog_logo">
        <img class="img-circle" [src]="logoPath">
    </div>
    <div id="menu_container">
        <ul id="ul_style">
            <li *ngFor="let route of routes">
                <a [routerLink]="['/' + route.path]" routerLinkActive="active">
                    <span><i class={{route.iconClass}}></i></span>
                    <span>{{route.title}}</span>
                </a>
            </li>
        </ul>
    </div>
    <div id="logout_ct">
        <i class="fa fa-sign-out"></i>
        <a [routerLink]="['/login']">{{'HOME.SIGNOUT' | translate}}</a>
    </div>
    <div id="lang_ct">
        <ul>
            <li><a (click)="switchLanguage('fr')">FR</a></li>                    
            <li><a (click)="switchLanguage('en')">EN</a></li>
        </ul>
    </div>
</aside>

